.container{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    margin: auto;
    background: #fff;
    padding-bottom: 30px;
}
.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}